# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.*

# IDEs
.idea/
.vscode/
*.iml

# macOS
macos/Flutter/ephemeral/

# iOS
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/app/build/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Misc
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Downloaded files
*.tar.xz
*.tar.gz
